.card {
  width: 200px;
  height: auto;
  padding: 5px;
  background-color: #f5f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .card {
    width: 120px;
    height: auto;
    padding: 5px;
    margin: 0 5px 10px;
  }

  .card h5.card-title {
    font-size: 18px !important;
    height: 20px; /* 调整卡片里面文字元素的高度 */
  }

 