/* 背景顏色 */
body {
  background-color: #ffffff;
}

/* 歡迎來到楊仙森梅酒 - 文字樣式 */
h1{
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #4e4b4f;
}
p1{
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 1.5;
  color: #4e4b4f;
}
/*intro - 樣式*/
h2{
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #4e4b4f;
  padding-bottom: 10px;
}
p2{
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4e4b4f;
  margin-bottom: 0;
}


h5 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #4e4b4f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 3px;
  display: none;
}




/*中間三張圖片*/
.image-container {
  display: flex;
  align-items: center; /* 垂直置中 */
  opacity: 0.9;
}

.left-column {
  width: 50%;
  height: auto;
}

.right-column {
  width: 20%;
  height: auto;
}

.left-column img {
  width: 100%;
  height: 100%;
}

.right-column img {
  width: 265%;
  height: auto;
}


/*中間圖片置中文字*/
.img-wrapper {
  position: relative;
}

.img-text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0); /* 修改此處 */
  z-index: 1;
  background-color: rgba(94, 94, 94, 0.5);
  padding: 10px;
  color: white;
  text-align: center; /* 將文字水平置中 */
}


/*底部圖片*/
.my-specific-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 設置容器的高度為 100% */
}

.my-specific-container #img-bottom {
  max-width: 100%; /* 設置最大寬度為 100% */
  max-height: 100%; /* 設置最大高度為 100% */
  object-fit: contain; /* 將圖像按比例自動縮放以適應容器 */
  margin: auto; /* 將圖像置中 */
  display: block; /* 將圖像設置為塊級元素以使 margin:auto 生效 */
  width: 100%;
}












