body{
    background-color: #4e4b4f;
}


 /* 導覽列背景色 */
 .navbar {
  background-color: #a03737; 
}
  li a{
    color:rgb(255, 255, 255) !important;
    font-size:20px;
    
  }
  li a:hover{
    font-family:Arial, sans-serif;
    color:rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    text-align: left;
  }
  
  .navbar-brand {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #4e4b4f;
    text-decoration: none;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #844141;
  }


h1{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 5px 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #892e2e;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }