body {
    background-color: #4e4b4f;
    color: #fff;
  }
  
  h1, h2, h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 12px;
    text-align: center;
  }

  h2 {
    font-size: 22px;
  }
  
  p {
    font-size: 12px;
    text-align: center;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 12px;
    text-align: center;
  }


  ul li {
    text-align: center;
  }

  form {
    text-align: center;
  }
  
  label {
    display: block;
    text-align: center;
  }

  input {
    display: block;
    margin: 0 auto;
  }

  button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

  



  .form-group label,
  .form-group input[type="number"],
  .btn {
    text-align: center;
    line-height: 1.5;

  }
  
  
  .btn {
    display: inline-block;
    padding: 5px 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #892e2e;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  }


  /* 導覽列背景色 */
.navbar {
  background-color: #4e4b4f; 
}
li a{
  color:rgb(255, 255, 255) !important;
  font-size:20px;
  
}
li a:hover{
  font-family:Arial, sans-serif;
  color:rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  text-decoration: none;
  text-align: left;
}

.navbar-brand {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #4e4b4f;
  text-decoration: none;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.nav-link:hover {
  color: #844141;
}